body {
  background: #00FFC2;
  width: 100%;
  height: 100%;
  margin: 0;
}

img {
  height: auto;
  width: 100%;
}

h1{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 114.3%;
  margin: 0 0 3vh 0;
  line-height: 1;

  color: #111111;
}

p{
  font-family: Noto Sans HK;
  font-style: normal;
  font-weight: 700;
  font-size: 0.9em;
  margin: 0;
  line-height: 114.3%;

  /* or 19px */

  color: #111111;
}

span{
  display: block;
  float: left;
  clear: both;
  font-size: 1.4em;
}

.logo {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2vh 0;
  text-align: center;
  max-width: 600px;
}

.box {
  border: 2px solid !important;
}

.box, .innerBox{
  border: 1px solid;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  max-width: 800px;
}

.innerBox{
  width: 100%;
  margin-top: 2vh;
  display: flow-root;
}

.resultat{
  margin-bottom: 3vh;
}

.resultat:last-child{
  margin-bottom: 10px;
}

.result{
  height: 30px;
  float: left;
  border: 1px solid;
  margin-left: 5%;
  width: 85%
}

.result:first-of-type{
  margin-bottom: 10px;
}

.color{
  background: #111111;
  height: 100%;
}

.one{
  width: 52%;
}

.two{
  width: 48%;
}

.three{
  width: 60%;
}

.four{
  width: 40%;
}

.five{
  width: 52%;
}

.six{
  width: 48%;
}
